<form id="frm1">
  <table class="table table-hover">
    <thead class="thead-dark">
    <tr>
      <!--      <th><input type="checkbox" name="checkall" onclick="checkedAll(frm1)" /></th>-->
      <th scope="col">ID</th>
      <th scope="col"><%= t('users.email') %></th>
      <th scope="col"><%= t('users.create_time') %></th>
      <th scope="col"><%= t('users.last_login') %></th>
      <th scope="col">Admin</th>
      <th><%= t('users.delete') %></th>
    </tr>
    </thead>
    <body>
    <tbody>
    <tr>
      <% @users.each do |user| %>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at %></td>
        <td><%= user.updated_at  %></td>
        <td><%= user.admin? %></td>
        <td><%= link_to 'Delete', users_path(user), method: :delete, class: 'btn btn-outline-danger btn-sm' %></td>
        </tr>
      <% end %>
      </tbody>
    </body>
  </table>
</form>