<h1><%= @post.title %></h1>
<p><%=t('items.user') %><%= @post.user.email %></p>
<h4><%=I18n.t('items.category') %>: <%= @post.topic%></h4>
<p><%= @post.summary %></p>
<!--<div class="button-panel">-->
  <%#= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-outline-danger btn-sm', style:'margin-top: 12px;' %>
<!--</div>-->
<br>
<br>

<h1><%=I18n.t('items.index.title') %></h1>
<br>


<section>
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th><%=I18n.t('items.name') %></th>
      <th><%=I18n.t('items.tag') %></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <%#= @author.each do |user| %>
<!--    <li><%#= user.email %></li>-->
    <%= @items.each_with_index do |item, index|%>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= link_to item.name, item_path(item), class: 'text-dark' %></td>
        <td><%= raw item.tags.map(&:name).map{|t| link_to t, tag_path(t), class: 'badge badge-secondary'}.join(' ') %></td>
        <td><%= link_to 'Edit', edit_item_path(item), class: 'btn btn-outline-dark' %>
        |
        <%= link_to 'Delete', item_path(item), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-outline-danger' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>

<div class="container-main">
<%= render 'disqus' %>
</div>

<%# @item.each do |item| %>
<!--  <ul>-->
<!--    <li><%#= item.name %></li>-->
<!--  </ul>-->
<%# end %>
<!--<h1><%#= @item.name %></h1>-->

<!--<section class="post-body">-->
<%#= image_tag @post.image.url(:large), class: 'img-show' if @post.image? %>
<!--</section>-->
<br>

<p></p>