<!DOCTYPE html>
<html>
<head>
  <title>Collections</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
<!--  <a class="navbar-brand" href="#">Navbar</a>-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <h4 class="nav-link" href="#"><%= link_to t('items.home'), posts_path, class: "btn btn-primary"%><span class="sr-only">(current)</span></h4>
      </li>

      <li class="nav-item active">
        <h4 class="nav-link" href="#"><%= link_to t('posts.new.title'), new_post_path, class: "btn btn-outline-default" %></h4>
      </li>

      <li class="nav-item">
        <h4 class="nav-link" href="#"><%= link_to t('items.new.title'), new_item_path, class: 'btn btn-outline-default'%>
        </h4>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#"><%=t('items.mc')%></a>
      </li>

      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <h4 class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%=t('items.account')%>
          </h4>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#"><%= link_to 'Edit', edit_user_registration_path, class: 'btn btn-outline-primary pull-xs-center'%></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><%= link_to 'Log out', destroy_user_session_path, class: "btn btn-default", method: :delete %></a>
          </div>
      <% else %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#"><%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-outline-primary pull-xs-center' %></a>
            <a class="dropdown-item" href="#"><%= link_to 'Sign in', new_user_session_path, class: 'btn btn-outline-primary pull-xs-center'%></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Log out</a>
          </div>
      <% end %>
      </li>


    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <a class="nav-item<%= "active" if I18n.locale == :ru %>">
      <%= link_to "RU", {locale: :ru}, class: 'btn btn-default btn-sm'%>
    </a>
    <a class="nav-item<%= "active" if I18n.locale == :en %>">
      <%= link_to "EN", {locale: :en}, class: 'btn btn-default btn-sm'%>
    </a>
  </div>
</nav>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
  <div class="row">
    <div class="col-md-12">
      <% flash.each do |name, message| %>
      <div class="alert alert-success">
        <%= message %>
      </div>
      <% end %>
    </div>
  </div>
<%# if current_user.admin %>
<!--  <form id="frm1">-->
<!--    <table class="table">-->
<!--      <thead class="thead-dark">-->
<!--      <tr>-->
<!--        <th><input type="checkbox" name="checkall" onclick="checkedAll(frm1)" /></th>-->
<!--        <th>Delete</th>-->
<!--        <th scope="col">ID</th>-->
<!--        <th scope="col">Email</th>-->
<!--        <th scope="col">Name</th>-->
<!--        <th scope="col">Creation time</th>-->
<!--        <th scope="col">Last login</th>-->
<!--        <th scope="col">Status(Online/Offline)</th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      </head>-->
<!--      <body>-->
<!--      <tbody>-->
      <%# @users.each do |user| %>
<!--        <tr>-->
<!--          <td><input type="checkbox" name="foo" value="bar1"/></td>-->
<!--          <td><%#= link_to "delete", user, method: :delete %></td>-->
<!--          <td><%#= user.id%></td>-->
<!--          <td><%#= user.email %></td>-->
<!--          <td><%#= user.firstname %></td>-->
<!--          <td><%#= user.created_at %></td>-->
<!--          <td><%#= user.updated_at  %></td>-->
<!--          <td><%#= user.online? %></td>-->
<!--        </tr>-->
      <%# end %>
<!--      </tbody>-->
<!--    </table>-->
<!--  </form>-->
<%= yield %>
</body>
</html>
